@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open-sans-regular.woff)
}

@font-face {
  font-family: "PTSans Narrow Bold";
  src: url(../fonts/pt-sans-narrow-bold.woff);
}

@font-face {
  font-family: "Segoe WP";
  src: url(../fonts/segoe-wp.woff);
}

@font-face {
  font-family: "Segoe WP Light";
  src: url(../fonts/segoe-wp-light.woff);
}
